h2{
    text-align: center;
}
/* ESTRUCTURA DEL DIV, podemos ver su presencia 
a travez de inspector de nuestro (navegador)*/
div{
    height: 200px ;
    width: 200px;
    background-color: cornflowerblue;
    margin:  20px;
    display: inline-block;
}
/*  ESTRUCTURA DE BORDEADOs
atributogeneral  */
.cuadro1{
    border-radius: 20px;
}
.cuadro2{
    border-radius: 20px 60px;
}
.cuadro3{
    width: 200px;
    height: 300px;
    border-radius: 35px 50px;

}
/* porcentajes relevantes */
.cuadro4{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}
.cuadro5{
    
}